.App {
  text-align: center;
  font-family: star-wars;
}

.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
@font-face {
  font-family: 'star-wars';
  src: url('./images/Starjedi.ttf') format('truetype');
}